<!DOCTYPE html>
<html>
<body>
<h1>My Header</h1>

<p>My paragraph.</p>
<p><%= user %></p>
<img src="testpic.png" width="104" height="142"></img>
<form action="/submit" method="POST">
<label for="username">Username:</label>
<input type="text" id="username" name="username" />
<button type="submit">Submit</button>
</form>

<button onclick="document.location='./subserver'">click me</button>
</body>
</html>