<!DOCTYPE html>
<html>
<body>
<h1>My Header</h1>

<p>My paragraph.</p>
<img src="testpic.png" width="104" height="142"></img>
<form action="/submit" method="POST">
<label for="username">Username:</label>
<input type="text" id="username" name="username" />
<br />
<label for="password">Password:</label>
<input type="password" id="password" name="password" />
<br />
<button type="submit" >Submit</button>
</form>
</body>
</html>