<!DOCTYPE html>
<html>
<body>
<h1>My Header</h1>

<p>My paragraph.</p>
<p><%= user %></p>
<img src="testpic.png" width="104" height="142"></img>
<input type="text"><var id = "uname" name="username"><%=usname%></var></input>

<button onclick="document.location='./subserver'" value="<%=usname%>" action='/submit-data' method='POST' name="usname">click me</button>
</body>
</html>