<!DOCTYPE html>
<html>
<body>
<h1>This site does nothing</h1>
<p>Welcome <%=user%></p>
<img src="Fruity_png_2.png" width="104" height="142"></img>
<button onclick="document.location='../?year=2017&month=July'">click me</button>
<button>this button does nothing</button>
</body>
</html>