<!DOCTYPE html>
<html>
<body>
<h1>useless website signup</h1>

<p>why are you here?</p>
<img src="Fruity_png_2.png" width="104" height="142"></img>
<p style="color:red;"> <%=er%> </p>
<form action="/sud" method="POST">
<label for="username">Username:</label>
<input type="text" id="username" name="username" />
<br />
<label for="password">Password:</label>
<input type="password" id="password" name="password" />
<br />
<button type="submit" >Submit</button>
</form>
</body>
</html>